.maps-header{
	margin-bottom:5px;
	text-decoration:underline;
}

#map-holder{
	text-align:center;
}

#maps p{
	display:inline;
	margin-right:10px;
	margin-bottom:0px;
	color:grey;
}

#maps p::after{
	content: ' |';
}

#maps{
	margin-bottom:10px;
}
